@use '../mixin' as r;

.attribution {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    inline-size: 100%;
    block-size: 2rem;
    display: grid;
    place-items: center;
    font-size: var(--f-xs);
    &__link {
      color: var(--c-primary-dark-cyan);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    @include r.media-up('sm') {
        font-size: var(--f-s);
    }
}